.hero {
  background-color: $dark-gray;
  color: $second-color;
  margin-bottom: 80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    margin-bottom: 64px;
  }

  @media (max-width: 540px) {
    margin-bottom: 24px;
  }

  &__women {
    background-image: url(../img/bg-women.jpg);

    @media (max-width: 1024px) {
      background-image: url(../img/bg-women1024.jpg);
    }

    @media (max-width: 768px) {
      background-image: url(../img/bg-women768.jpg);
    }

    @media (max-width: 540px) {
      background-image: url(../img/bg-women320.jpg);
    }
  }

  &__men {
    background-image: url(../img/bg-men.jpg);
    @media (max-width: 1024px) {
      background-image: url(../img/bg-men1024.jpg);
    }

    @media (max-width: 768px) {
      background-image: url(../img/bg-men768.jpg);
    }

    @media (max-width: 540px) {
      background-image: url(../img/bg-men320.jpg);
    }
  }

  &__content {
    max-width: 590px;
    padding: 172px 0 86px;

    @media (max-width: 768px) {
      max-width: 410px;
      padding: 156px 0 50px;
    }

    @media (max-width: 540px) {
      padding: 76px 0 24px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 44px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      font-size: 30px;
      margin-bottom: 24px;
    }

    @media (max-width: 540px) {
      font-size: 20px;
      margin-bottom: 16px;
    }
  }

  &__link {
    display: inline-block;
    padding: 15px 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    border: 1px solid $second-color;
    background-color: transparent;
    transition-property: background-color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    @media (max-width: 768px) {
      font-size: 10px;
      line-height: 12px;
      padding: 12px 40px;
    }

    &:hover {
      background-color: $gray;
      border-color: $gray;
    }
  }
}
